._coinIcon_55nwd_24 {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/coin-min.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

._influencerIcon_55nwd_24 {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/influencer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

}


