._background_lkckw_27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: background-position;
  transition: cubic-bezier(0.7, 0.55, 0.42, 0.33) 0.15s background-position;
}

._skin-league-1_lkckw_183 {
  background: url("../../assets/images/main-bg-bronze.png") no-repeat center center/cover #000;
}
._skin-league-2_lkckw_187 {
  background: url("../../assets/images/main-bg-silver.png") no-repeat center center/cover #000;
}
._skin-league-3_lkckw_191 {
  background: url("../../assets/images/main-bg-gold.png") no-repeat center center/cover #000;
}
._skin-league-4_lkckw_195 {
  background: url("../../assets/images/main-bg-platinum.png") no-repeat center center/cover #000;
}
._skin-league-5_lkckw_199 {
  background: url("../../assets/images/main-bg-diamond.png") no-repeat center center/cover #000;
}

._squadBoard_wqi7g_150 {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 8px 0;
}

._footerSquad_wqi7g_163 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffffbf;
}

._joinSquadButton_b8j7o_94 {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin-bottom: 15px;
  color: #fff;
}

._scoreIcon_55nwt_10 {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/images/coin-min.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

._score_55nwt_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, system-ui, sans-serif;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-style: normal;
  color: #fff;
}

._progress_m9ri7_1 {
  height: 16px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff3;
  width: 100%;
  flex-grow: 1;
  position: absolute;
  bottom: 0;
}
._line_m9ri7_10 {
  height: 16px;
  border-radius: 20px;
  width: 0px;
  transition: width 0.45s ease 0.2s, opacity 0.45s ease 0.2s;
  opacity: 0;
  will-change: opacity, width;
}
._type-bronze_m9ri7_19 ._line_m9ri7_10 {
  background: linear-gradient(270deg, #fefbe9 0%, #ff9a00 100%);
}
._type-silver_m9ri7_23 ._line_m9ri7_10 {
  background: linear-gradient(270deg, #eff9ff 0%, #4a57a7 100%);
}
._type-gold_m9ri7_27 ._line_m9ri7_10 {
  background: linear-gradient(270deg, #fffcd2 0%, #f6c35e 100%);
}
._type-platinum_m9ri7_31 ._line_m9ri7_10 {
  background: linear-gradient(270deg, #dae3ff 0%, #696c7f 100%);
}
._type-diamond_m9ri7_35 ._line_m9ri7_10 {
  background: linear-gradient(270deg, #9ffeff 0%, #2792e2 100%);
}

._squadInfoRoot_b8j7o_1 {
  display: flex;
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: var(--basic-white-alpha-12, rgba(255, 255, 255, 0.12));
  backdrop-filter: blur(16px);
  color: #fff;
}

._modal_b8j7o_11 {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
  color: #fff;
  padding-bottom: 50px;
}

._body_b8j7o_19 {
  padding: 0 var(--body-padding);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
// ._squadName_b8j7o_27 {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   margin-bottom: 4px;
// }
// ._backdrop_b8j7o_34 {
//   border-radius: 16px 16px 0 0;
//   background: linear-gradient(180deg, #ff7a2f 0%, #599cff 100%);
// }
// ._modalIcon_b8j7o_39 {
//   font-size: 100px;
//   margin-bottom: 20px;
// }
._laurelIconReversed_b8j7o_49 {
  transform: scaleX(-1);
}
._squadPlace_b8j7o_53 {
  margin-left: 6px;
  margin-right: 6px;
  font-family: var(--font-display-ios-rounded);
  font-weight: 590;
  font-size: 15px;
  line-height: 20px;
}
._squadPlaceWrap_b8j7o_62 {
  margin-top: -2px;
}
._squadPlaceWrap_b8j7o_62 svg {
  max-width: 12px;
}
// ._squadLeague_b8j7o_69 {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 6px;
// }
// ._squadLeague_b8j7o_69 img {
//   width: 20px;
//   height: 20px;
// }
// ._squadScore_b8j7o_80 {
//   display: flex;
//   align-items: center;
//   gap: 4px;
// }
// ._squadScore_b8j7o_80:before {
//   content: "";
//   width: 16px;
//   height: 16px;
//   background-image: url(https://cdn.joincommunity.xyz/clicker/penny.png);
//   background-repeat: no-repeat;
//   background-size: contain;
// }
._joinSquadButton_b8j7o_94 {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin-bottom: 15px;
}
._joinSquadButton_b8j7o_94 ._chevron_b8j7o_101 {
  stroke: #ffffff80;
}

._root_19lv5_1 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px var(--safe-area-right) 15px var(--safe-area-left);
}

._score_55nwt_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-display-ios-rounded);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-style: normal;
}
._scoreIcon_55nwt_10 {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/images/coin-min.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}


.cupIcon_j4kjd_base {
  margin-right: 6px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.cupIcon_j4kjd_1 {
  background-image: url("../../assets/images/Bronze-95.png");
}

.cupIcon_j4kjd_2 {
  background-image: url("../../assets/images/Silver-95.png");
}

.cupIcon_j4kjd_3 {
  background-image: url("../../assets/images/Gold-95.png");
}

.cupIcon_j4kjd_4 {
  background-image: url("../../assets/images/Platinum-95.png");
}

.cupIcon_j4kjd_5 {
  background-image: url("../../assets/images/Diamond-95.png");
}

._scoreLoader_55nwt_19 {
  padding: 0;
  flex-basis: 100px;
}
._size-32_55nwt_24 {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
}
._size-32_55nwt_24 ._scoreIcon_55nwt_10 {
  margin-right: 8px;
}
._size-48_55nwt_33 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 800;
}

._lighting {
  background-image: url("../../assets/images/lightning.png");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}


