._theme-bronze_6spwk_44 {
  background-image: url("../../assets/images/bg-bronze.png");
}
._theme-silver_6spwk_48 {
  background-image: url("../../assets/images/bg-silver.png");
}
._theme-gold_6spwk_52 {
  background-image: url("../../assets/images/bg-gold.png");
}
._theme-platinum_6spwk_56 {
  background-image: url("../../assets/images/bg-platinum.png");
}
._theme-diamond_6spwk_60 {
  background-image: url("../../assets/images/bg-diamond.png");
}

._layer_6spwk_16 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  transition: opacity 0.35s ease;
  //   filter: blur(5px);
  //   -webkit-filter: blur(5px);
}

._ava_qytbf_11 {
  min-width: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  margin-left: -14px;
  overflow: hidden;
}
._ava_qytbf_11 img {
  height: 24px;
  width: 24px;
}

._levelIcon_j4kjd_2 {
  margin-left: 30px;
  margin-top: 16px;
  width: 150px;
  height: 150px;
  background-image: url("../../assets/images/level_bronze.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
