.progress-bar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;

  &::-webkit-progress-bar {
    background: rgba(217, 217, 217, 0.15);
    border-radius: 12px;
    box-shadow: none;
  }
}
